# exclude specific files
brainstorming.jpg
Assignment_Klimadiagnose_Temperaturvaribialitaet_Berlin.pdf
zeitplan-seminar.pdf

# exclude internal data
data/

# exclude preliminary results
figs/clusters/
figs/clusters_scaled/
